body {
    display: grid;
    place-content: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}

.container {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 15px;
    height: 490px;
    width: 300px;
    margin: 1rem;
}

img {
    height: 270px;
    border-radius: 10px;
    margin: 15px;
}

h1 {
    font-size: 21px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    margin: 20px;
    margin-left: 25px;
    margin-right: 25px;
}